openapi: '3.0.0'
info:
  version: 1.0.0
  title: Kyrics Server API docs
  description: Kyrics Server의 API 문서입니다
servers:
  - url: https://server.kyrics.org
  - url: http://localhost:8081/

security:
  - Authorization:
    - read
    - write
paths:
  /login:
    $ref: './paths/login.yaml'
  /artists:
    $ref: './paths/artists.yaml'
  /artist/{id}:
    $ref: './paths/artist.yaml'
  /song/{id}:
    $ref: './paths/song.yaml'
  /song/{id}/vocab:
    $ref: './paths/key-expression.yaml'
  /user:
    $ref: './paths/user.yaml'
  /user/email:
    $ref: './paths/user-email.yaml'
  /user/song:
    $ref: './paths/user-song.yaml'
  /user/song/{id}:
    $ref: './paths/user-one-song.yaml'
  /user/vocab:
    $ref: './paths/user-vocab.yaml'
  /user/vocab/{id}:
    $ref: './paths/user-one-vocab.yaml'
components:
  securitySchemes:
    Authorization:
      type: apiKey
      in: header
      name: x-access-token
  schemas:
    Response:
      type: object
      properties:
        status:
          type: number
        message:
          type: string
  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema: 
            $ref: '#components/schemas/Response'
          example:
            status: 400
            message: 잘못된 요청
    InternalServerError:
      description: 서버 오류
      content:
        application/json:
          schema:
            $ref: '#components/schemas/Response'
          example:
            status: 500
            message: 서버 오류